In [1]:
import pandas as pd

In [6]:
df1=pd.read_csv(r"C:\Users\SRINATH\Desktop\data science\machine learing\ml project\data\raw\aa_dataset-tickets-multi-lang-5-2-50-version.csv")

In [16]:
df1.head(1)

,subject,body,answer,type,queue,priority,language,version,tag_1,tag_2,tag_3,tag_4,tag_5,tag_6,tag_7,tag_8
0,Wesentlicher Sicherheitsvorfall,"Sehr geehrtes Support-Team,\n\nich möchte eine...",Vielen Dank für die Meldung des kritischen Sic...,Incident,Technical Support,high,de,51,Security,Outage,Disruption,Data Breach,NaN,NaN,NaN,NaN

In [23]:
df2=pd.read_csv(r"C:\Users\SRINATH\Desktop\data science\machine learing\ml project\data\raw\twcs.csv")

In [15]:
df2.head(1)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0

In [17]:
df3=pd.read_csv(r"C:\Users\SRINATH\Desktop\data science\machine learing\ml project\data\raw\ultra_synthetic_200k_v2.csv")

In [22]:
df3.head(1)

,subject,body,answer,type,queue,priority,language,tag_1,action,ttr_hours,full_text,clean_text
0,System crash,"Hello team, I'm reporting a incident involving...",Thank you for contacting Technical Support. We...,Incident,Technical Support,low,en,complete outage,restart affected service,2.68,"System crash Hello team, I'm reporting a incid...","system crash hello team, i'm reporting a incid..."